$pageWidth: 750px;
$mobileBreakpoint: 1200px;
$tabletBreakpoint: 1500px;
$sidePanelWidth: 350px;
$topSpacing: 3rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 800;
$semiBoldWeight: 600;
$normalWeight: 400;
