@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Amiri:ital@0;1&display=swap');

@media print {
  body {
    --font-text-theme: "Amiri", serif;
    --font-text-size: 21px !important;
    --line-height-normal: 1;
    --heading-spacing: 0;
    --p-spacing: 0;
  }
}
