/* :root {
  --default-font: 'Inter', 'Inter Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: 'Source Code Pro', monospace;
} */

.theme-light {
  --h1-weight: 700;
  --h2-weight: 700;
  --h3-weight: 700;
  --h4-weight: 700;
  --code-background: var(--background-secondary);
}
.theme-light {
/*   --color-base-00: #FDF6E3;  
  --color-base-05: #FDF6E3;  
  --color-base-10: #fdf4dd;   
  --color-base-20: #f4e9ca;   
  --color-base-25: #FCF5E2;   
  --color-base-30: #FCF5E2;  
  --color-base-35: #EDE7D4;   
  --color-base-40: #EDE7D4;   
  --color-base-50: #E0DDCC;   
  --color-base-60: #E0DDCC; 
  --color-base-70: #C9CCBF; 
  --color-base-80: #7c8560; 
  --color-base-90: #323c3b; 
  --color-base-100: #323c3b;  */

  /*   --color-base-00: #fdf6e3;
  --color-base-01: #eee8d5;
  --color-base-02: #93a1a1;
  --color-base-03: #839496;
  --color-base-20: #eee8d5;
  --color-base-20: #eee8d5; */

  /*   --background-primary: #fdf6e3;
  --background-primary-alt: #dac079;
  --background-secondary: #eee8d5;
  --background-secondary-alt: #dac079;
  --titlebar-background-focused: #eee8d5;
  --background-modifier-form-field: var(--background-primary); */
}
.theme-dark {
  --background-primary: #1a1a19;
  --background-secondary: #141413;
  --titlebar-background-focused: #232322;
}

.callout[data-callout="notation"] {
  --callout-color: 90, 90, 90;
  --callout-icon: lucide-book-type;
}
